/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Allerta+Stencil&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos generales */
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/*Variables*/
:root {
  --main-color: #050505;
  --text-color: #fff;
  --bg-color: #fff;
}

body {
  background: var(--text-color);
  color: var(--text-color);
}

section {
  padding: 4.5rem 0 1.5rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
  background: var(--main-color);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logo .bx {
  font-size: 24px;
  color: var(--text-color);
}

.menu-row span {
  display: flex;
  column-gap: 5rem;
}

.list-complete-item {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: '';
  width: 0;
  height: 0.5px;
  background: var(--bg-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.navbar a:hover::after {
  width: 100%;
}
